<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Fontdiner+Swanky" rel="stylesheet">

	<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<link rel="stylesheet" href="assets/css/style.css" type="text/css" />
	<style>
		 html {
 	background-color: #FFC04C;
 }

 body {
 	width: 75%;
	margin: 0 auto; 

	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: white;
 }

 #cute_burger {
 	display: block;
    margin: auto;
 }

 h1 {
 	text-align: center;
 	font-family: 'Fontdiner Swanky', cursive;
 	font-size: 65px;
 	margin: 50px;
 }

 .burgerAvailable {
 	font-family: 'Crafty Girls', cursive;
 	font-weight: normal;
 	font-size: 20px;
 	text-align: center;

 	border-radius: 25px;
 	width: 100%;
 	margin: 10px;
 	padding: 10px;
 	background-color: #b7ffc2;
 	border: none;
 }

 .burgerAvailable:hover {
 	background-color: #81ff94;
 }

 .burgerEaten {
 	font-family: 'Crafty Girls', cursive;
 	font-weight: normal;
 	font-size: 20px;
 	text-align: center;

 	border-radius: 25px;
 	margin: 10px;
 	padding: 10px;
 	background-color: #ffd1c9;
 }

 h2 {
  	text-align: center;
 	font-family: 'Fontdiner Swanky', cursive;
 	font-size: 40px;
 	margin: 50px;
 }

 .formContainer {
 	background-color: orange;
 }

 .addBurgerButton {
 	font-family: 'Crafty Girls', cursive;
 	font-weight: normal;
 	font-size: 20px;
 	text-align: center;

 	border-radius: 25px;
 	width: 100%;
 	margin: 0;
 	padding: 10px;
 	background-color: #FFC04C;
 	border: none;
 }

.addBurgerButton:active {
	background-color: #FFC04C;
}

.burgerFooter {
	background-color: #FFC04C;
	padding: 20px 0;
}
	</style>
	<title>Burgerlicious Devour Menu</title>
</head>

<body>
	<img src="/assets/img/bigmac.jpeg" alt="Burger" width="128" height="128">

	{{{ body }}}

	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">© Alan Fountain Productions</span>
				<a class="grey-text text-lighten-4 right" href="https://github.com/dafuentes20">Reference Work</a>
			</div>
		</div>
	</footer>
</body>
</html>